@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Ejemplo h1</h1>
<h2>Ejemplo h2</h2>
<h3>Ejemplo h3</h3>
<h4>Ejemplo h4</h4>

<b>Ejemplo texto en negrita</b> <br />
<a target="_blank" href="https://www.google.com.ar">Ir a google</a>

<ul>
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>
</ul>

<table class="table">
    <tr>
        <th>Col1</th>
        <th>Col2</th>
        <th>Col3</th>
    </tr>
    <tr>
        <th>Texto1</th>
        <th>Texto2</th>
        <th>Texto3</th>
    </tr>
</table>

<input  type="text" value="Ejemplo de campo de texto"/>
<input type="number" value="0" />
<input type="numbre" value="0" />
<input type="password" value="no se ve nada..." />
<select>
    <option>Ejemplo 1</option>
    <option>Ejemplo 2</option>
    <option>Ejemplo 3</option>
</select><br />
Soy un check !!! <input type="checkbox"/>


